.template-container {
    padding-right: 5%;
    padding-left: 5%;
}

.add-object-container {
    display: flex;
    align-items: center;
}

.template-body.is-collapsed {
	display: none;
}

.add-object-container h3 {
    margin: 0px;
}

.add-object-container .setting-item {
	padding: 0;
	margin: 0;
	border: none;
	background-color: transparent;
}

.template-title-row .setting-item {
	padding: 0;
	margin: 0;
	border: none;
	background-color: transparent;
}

.template-container hr{
    margin: 0px;
}

/* Title + remove button layout */
.template-title-row {
	display: flex;
    align-items: center;
    padding: 10px;
	justify-content: space-between;
	cursor: pointer;
    font-weight: bold;
}

.template-title {
	margin: 0;
	flex: 1;
}

.template-container .setting-item {
	padding-right: 8px;
}